<%- include('partials/header'); -%>
<h1>Home</h1>
<%= homeStartingContent %>

    <h1><%= postTitle %></h1>
    <p><%= postEntry.substring(0,55) %> ... <a href="/posts/<%=postTitle%>">Read More</a></p>

<%- include('partials/footer'); -%>