<%- include('partials/header'); -%>
<h1>Home</h1>
<%= homeStartingContent %>

    <% postEntries.forEach(function(postEntries){ %>
        <h1><%= postEntries.title %></h1>
        <p><%= (postEntries.post).substring(0,55) %>... <a href="/posts/<%=postEntries.title%>">Read More</a></p>
    <% }) %>

<%- include('partials/footer'); -%>